
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectedVal</title>
</head>
<body>
    <div id="gridSelect"> 

        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Você Selecionou: @ViewBag.Valor</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</body>
</html>
