<!-- Intro -->
		<div id="intro-wrapper" class="wrapper style1">
			<div class="title"><!-- Entrada parcelada em 12 Vezes no Cartão de crédito --></div>
			<section id="intro" class="container" ng-control="mainControl">
				<p class="style1">Horário de funcionamento de seg a sexta : 9 as 18 horas (sem fechar ao meio dia) sábados 9 as 17 horas (sem fechar ao meio dia)</p>
				<p class="style2">
					SEU CARRO NOVO COM ENTRADA PARCELADA EM 3X

					{{test}}
				</p>
				
			</section>
		</div>

		<!-- Main -->
		<div class="wrapper style2">
			<div class="title">Aproveite Nossas Promoções</div>
			<div id="main" class="container">

				<!-- Image -->
				<a href="#" class="image featured">
					<img src="images/pic01.jpg" alt="" />
				</a>

				<!-- Features -->
				<section id="features">
					<header class="style1">
						<h2>Comprar Carros</h2>
						<p>Com os preços mais acessíveis do mercado</p>
					</header>
					<div class="feature-list">
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<h3 class="icon fa-car">Venda seu veículo</h3>
									<p>Anuncie seu carro ou moto no maior
										classificado do Brasil e venda rápido:</p>
									</section>
								</div>
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-bar-chart-o">FIPE & Webmotors</h3>
										<p>Saiba o preço do veículo que você
											quer comprar ou vender na sua região</p>
										</section>
									</div>
								</div>

							</div>
							<ul class="actions actions-centered">
								<li><a href="#" class="button style1 big">Vender</a></li>
								<li><a href="#" class="button style2 big">Coprar</a></li>
							</ul>
						</section>

					</div>
				</div>

				<!-- Highlights -->
				<div class="wrapper style3">
					<div class="title">MAIS DESEJADOS</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Fiat Gran Ciena</a></h3>
									<p>R$23.590.00</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Ver Mais</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Toyota Etios</a></h3>
									<p>R$20.800.00</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Ver Mais</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Chevrolet Onix</a></h3>
									<p>R$27.190.00</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Ver Mais</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div>